* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  h1{
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      color: #D4257D;
      font-size: 4rem;
  }
  
  h4{
    font-family: 'Permanent Marker';
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;   
  }

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
    margin: 1rem -1rem;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns by default */
  .column {
    width: 25%;
    display: none; /* Hide all elements by default */
  }
  
  .content img {
    width: 100%;       
    height: auto;     
    object-fit:cover; 
    max-height: 100%; 
  }

  /* Content */
  .content {
    position: relative; /* This makes the h4 position relative to the content div */
    display: inline-block; /* This makes the div only as wide as its content (the image) */
    filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.15))
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .btn {
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 12px 16px;
    background-color: #81B428;
    color: white;
    cursor: pointer;
    flex: 1;
    min-width: 100px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #D4257D;
    color: white;
  }

  .content h4 {
    position: absolute; /* This takes the h4 out of the normal document flow */
    bottom: 0; /* Positions the h4 at the bottom of the content div */
    rotate: 8deg;
    left: 50%; /* Starts the h4 at the 50% mark of the content div */
    transform: translateX(-60%); /* Shifts the h4 back by half its width to truly center it */
    margin: 0; /* Removes default margins */
    padding: 5px 5px; /* Optional: adds some padding for better appearance */
    color:#D4257D;
    opacity: 85%;
    width: 100%; /* Optional: makes the h4 span the full width */
    text-align: center; /* Centers the text within the h4 */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  /* Responsive layout - makes a two column layout instead of four */
  @media (max-width: 480px) {
    .column {
      width: 50%;
    }
    
    /* Bracket effect for mobile */
    .content {
      position: relative;
      margin: 4px;
    }
    
    .content:before {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      height: 100%;
      width: 4px;
      border-radius: 2px 0 0 2px;
    }
    
    .content:after {
      content: "";
      position: absolute;
      top: 0;
      right: -8px;
      height: 100%;
      width: 4px;
      border-radius: 0 2px 2px 0;
    }

    .row {
        margin: 0.2rem -0.2rem;
        display: flex;
        flex-wrap: wrap;
      }
      
      /* Add padding BETWEEN each column */
      .row,
      .row > .column {
        padding: 0.05rem;
      }

    h1{
        font-size: 2.5rem;   
    }

    h4{
        font-size: 1.5rem;   
    }

    .btn-container {
        flex-direction: column;
        gap: 8px;
    }
    
    .btn {
        width: 100%;
        flex: none;
    }
  }