* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 0vw 8vw;
  }
  
h1{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #D4257D;
  font-size: 4.5vw;
}

h4{
font-family: 'Permanent Marker';
font-weight: bold;
text-transform: uppercase;
color: white;
font-size: 3vw;   
}

.voresfrivillig {
  box-sizing: border-box;
  margin: auto;
}

.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

/* luft imellem billeder  Kig på det her, her i dag --Sofie--- */ 
.row,
.row > .column {
  padding: 8px;
}

/* 4 per row */
.column {
  width: 25%;
  display: none; /* gem alle elementer af default */
}

.content img {
  width: 100%;       
  height: auto;     
  object-fit:cover; 
  max-height: 100%; 
}

/* Content */
.content {
  position: relative; /* This makes the h4 position relative to the content div */
  display: inline-block; /* This makes the div only as wide as its content (the image) */
  filter: drop-shadow(3px 3px 7px rgba(0, 0, 0, 0.15))
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 1.5vw;  
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 12px 16px;
  background-color: #81B428;
  color: white;
  cursor: pointer;
  flex: 1;
  min-width: 100px;
}

.btn:hover {
  background-color:#4b6e0d;
}

.btn.active {
  background-color: #D4257D;
  color: white;
}

.content h4 {
  position: absolute; 
  bottom: 0; 
  rotate: 8deg;
  left: 50%; 
  transform: translateX(-60%); 
  margin: 0; 
  padding: 5px 5px; 
  color:#D4257D;
  opacity: 85%;
  width: 100%; 
  text-align: center; 
  box-sizing: border-box; 
}

  @media (max-width: 480px) {
    
    body {
      background-color: #f1f1f1;
      padding: 0vw 2vw;
    }

    .column {
      width: 50%;
    }
    
    .content {
      position: relative;
      margin: 0;
    }
    
    .content:before {
      position: absolute;
      top: 0;
      left: -8px;
      height: 100%;
      width: 4px;
      border-radius: 2px 0 0 2px;
    }
    
    .content:after {
      position: absolute;
      top: 0;
      right: -8px;
      height: 100%;
      width: 4px;
      border-radius: 0 2px 2px 0;
    }

    .row {
        margin: 0.2rem -0.2rem;
        display: flex;
        flex-wrap: wrap;
      }

    /* Add padding BETWEEN each column */
   .row,
     .row > .column {
      padding: 3px;
   }

    h1{
      font-size: 8.2vw;   
    }

    h4{
      font-size: 5vw;   
    }

    .btn-container {
        flex-direction: wrap;
        gap: 8px;
    }
    
    .btn {
        width: calc(50% - 8px); /* accounting for the gap */
        min-width: 0;
        flex: none;
        font-size: 3.5vw;  
    }
  }

    
    