

body {
    margin: 0;
    position: relative;
    background-image: url("baggrund.png");
    overflow-x: hidden;
}

/* JEG KAN IKKE FÅ DEN HEADER TIL AT SCALE ORDENLIGT */
.header { 
    display: flex;
    justify-content: center;
    color: white;
    background-image: url("baggrund.png");
    height: auto;
}

.off-screen-menu {
    background-color: #81b428;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}

.list__burgermenu {
    list-style-type: none;
    cursor: pointer;
}

#hjem:after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    transition: .3;
    background-color: #ffffff;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

#hjem:hover:after{
    transform: scaleX(1);
}


#omOs:hover {
    text-decoration: underline;
    transition: .3 ease-in;
}

#blivFrivillig:hover {
    text-decoration: underline;
    transition: .3 ease-in;
}

#headSpaceFamily:hover {
    text-decoration: underline;
    transition: .3 ease-in;
}


.off-screen-menu.active {
    right: 0px;
}

nav {
    padding: 1rem;
    display: flex;
    background-color: #81b428;
}


.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.textbox__home {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #81b428;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.textbox__home__1 {
    padding: 2em;
    border: 1px solid #81b428;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    background-image: url(baggrund.png);
}

.textbox__home__2 {
    padding: 2em;
    border: 1px solid #81b428;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    background-image: url(baggrund.png);
}

.textbox__home__3 {
    padding: 2em;
    border: 1px solid #81b428;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
    background-image: url(baggrund.png);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #81b428;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    margin: auto;
}